[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "*"
bs4 = "*"
flake8 = "*"
imageio = "*"
jupyterlab = "*"
matplotlib = "*"
nltk = "*"
numpy = "*"
pandas = "*"
pytest = "*"
regex = "*"
requests = "*"
seaborn = "*"
selenium = "*"
scikit-image = "*"
scikit-learn = "*"
statsmodels = "*"
xlrd = "*"

[dev-packages]

[requires]
python_version = "3.8"
