# Requirements for running the pages but not editing or building them.
# For example on a service like BinderHub.
bokeh
bs4
imageio
lxml
matplotlib
nltk
numpy
openpyxl
pandas
pytest
regex
requests
seaborn
scikit-image
statsmodels
